/* line 4, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
.header1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #29056b;
  font-size: 40px;
  font-size: 30px;
  line-height: normal;
  text-align: center;
  font-weight: bold;
  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

CSS
.header .navbar {
  background-color: transparent !important;
}


/* line 23, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
.header2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #29056b;
  font-size: 30px;
  line-height: normal;
  text-align: center;
  font-weight: bold;
}

.header2centro {
  font-family: Arial, Helvetica, sans-serif;
  color: #29056b;
  font-size: 30px;
  line-height: normal;
  text-align: center;
  font-weight: bold;
}
/* line 32, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
.header2bis {
  font-family: Arial, Helvetica, sans-serif;
  color: #29056b;
  font-size: 30px;
  line-height: normal;
  font-weight: bold;
}

/* line 40, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
.header3 {
  font-family: Arial, Helvetica, sans-serif;
  color: darkslategrey;
  font-size: 20px;
  line-height: inherit;
  text-align: center;
}

/* line 49, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
.anterior {
  font-family: Arial, Helvetica, sans-serif;
  color: darkslategrey;
  font-size: 15px;
  line-height: inherit;
  text-align: right;
}

/* line 58, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
.header4 {
  font-family: inherit;
  color: darkslategrey;
  font-size: 15px;
  line-height: inherit;
  text-align: center;
}

/* line 67, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
.parrafo {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 40;
  color: black;
  line-height: inherit;
  text-align: justify;
}

/* line 81, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
.boton_1 {
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: helvetica;
  font-weight: 300;
  font-size: 25px;
  font-style: italic;
  color: #29056b;
  background-color: #e3f2fd;
  border-radius: 15px;
  border: 4px double #0099CC;
  transition: font-size 0.5s;
}

/* line 96, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
.boton_1:hover {
  text-decoration: none;
  font-size: 40px;
  cursor: pointer;
}

/*.boton_1:hover{
    
	text-decoration: none;
	font-size: 40px;
	cursor: pointer;
  }
*/
/* line 113, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
.boton_2 {
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: helvetica;
  font-weight: 200;
  font-size: 20px;
  font-style: italic;
  color:#29056b;
  background-color: #e3f2fd;
  border-radius: 15px;
  border: 2px solid #0099CC;
  /*transition: font-size 1s;*/
}

/* line 129, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
.boton_2:hover {
  text-decoration: none;
  font-size: 22px;
  cursor: pointer;
/*animation: animame 1s linear 1s infinite alternate;
  transform: rotateX(45deg);*/
}

/* line 141, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
#bot2 {
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

/* .boton_2:hover{
    
	text-decoration: none;
	font-size: 22px;
	cursor: pointer;
	animation: animame 1s linear 1s infinite alternate;
	transform: rotateX(45deg);

  }*/
/* line 160, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
ol, ul, label, fieldset {
  color: #29056b;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 40;
}

 .field {
   columns: 50;
}

/* line 167, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
header {
  background-color: transparent;
  position: fixed;
  height: 200px;
  width: 100%;
}

/* line 176, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
footer {
  background:#e3f2fd;
  /*#CCCCCC;*/
  color: rgb(118, 120, 121);
 font-weight: bold;
  clear: both;
  text-align: center;
  width: 100%;
  padding: 20px;
  border-top: 2px solid #999999;
  /*color:#FFFFFF;*/
  /* Flexbox */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-decoration: none;
}

/* line 192, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
footer a {
  
  /*background-image: url(/ima);*/
  /*text-decoration: none;*/
  color: #444;

}

/* line 197, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
footer a:hover {
  background: #E74C3C;
  background-color: RoyalBlue;
}

/* line 204, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
footer .links {
  background: #c0392b;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  color: #fff;
  padding: 10px;
  text-align: center;
  /*text-decoration:none;*/
}

/* line 214, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
footer .links:hover {
  background: #E74C3C;
}

/*footer a {
   
		text-decoration: none;
		color: #444;

		&:hover {
			background:#E74C3C;
		}
 } */
/*footer .links {
	background:#c0392b;
	display:flex;
	flex-wrap:wrap;

	&:hover {
		background:#E74C3C;
	}
}*/
/*footer .links  {
	flex-grow:1;
 
	color:#fff;
	padding:10px;
	text-align: center;
	text-decoration:none;
}
 
footer .links a:hover {
	background:#E74C3C;
}
*/
/* line 255, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
body {
  
  background-color: rgba(7, 181, 255,0.1);
  background-image: url(../imagenes/fondoop.jpg);
}

/* line 266, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
#alto {
  background-color: gray;
  width: 400;
  align-content: right;
}

/* line 272, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
.menu {
  top: 0px;
  z-index: 1;
}

/* line 277, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
.bajar {
  position: relative;
  top: 110px;
}

/* line 285, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
/*a:hover {
  background-color: RoyalBlue;
}*/

/* line 290, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
ul {
  list-style: none;
  font-size: 0;
  /* IMPORTANTE */
  padding: 0;
}

/* line 295, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
ul li {
  display: inline-block;
  width: 25%;
  /* IMPORTANTE */
  position: relative;
}

/* line 302, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
ul li a {
  font-size: 16px;
  text-align: center;
  display: block;
  color: white;
  /*background-color: SkyBlue;*/
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
}

/* line 319, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
ul ul {
  /* si un ul es padre de otro ul entonces... esto seria el submenu */
  /* IMPORTANTE */
  position: absolute;
  display: none;
}

/* line 325, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
ul ul li {
  /* los LI dentro del submenu, esta propiedad logra que ocupe todo lo que pueda */
  width: 100%;
}

/* Al pasar sobre los LI, si tiene un UL, se MOSTRARA */
/* line 332, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
ul li:hover ul {
  display: block;
}

/* line 335, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
ul li:hover ul:hover ul a:hover {
  background-color: RoyalBlue;
}

/* line 344, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
p {
  font-size: 14px;
  text-align: right;
  display: block;
  color: #021820;
  /*background-color: gray;*/
  padding: 10px;
  /*text-transform: uppercase;*/
  text-decoration: none;
  font-family: sans-serif;
}

/* line 360, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
img.logo {
  width: 100px;
  text-align: center;
  /*top: 20px;*/
  margin: auto;
  left: 600px;
}


div.container {
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
  }
  img {
  width: 70%;
  height: auto;
  }
/* line 369, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
.cont_logo {
  text-align: center;
}

/* line 373, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
HTML CSSResult
.t_agrandeTexto {
  font-size: 14px;
  transition: font-size 1s;
}

/* line 378, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
HTML CSSResult
.t_agrandeTexto:hover {
  font-size: 32px;
  cursor: pointer;
}

/* .t_agrandeTexto:hover {
	font-size: 32px;
	cursor: pointer;
	
  }*/
/* line 393, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
.t_escalar1-2 {
  transition: all 2s;
  /*	filter: blur(10px);*/
}

/* line 397, ../../../Google Drive/code/6ta sass -GuarderiaCanina - Lorena Robles - copia/5ta transformaciones -GuarderiaCanina - Lorena Robles - copia/sass/probandocss.scss */
.t_escalar1-2:hover {
  transform: scale(1.2);
  filter: blur(0);
  cursor: pointer;
}

/* .t_escalar1-2:hover {
	transform: scale(1.2);
	filter: blur(0);
	cursor: pointer;
  }*/

/*# sourceMappingURL=probandocss.css.map */


.formulario1 {
  background-color: lightblue ;
  margin: 0 auto;
  width : 600px;
padding:10px;
border-radius: 30px;

}

